{% extends 'main/layout.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="main-page">
        <div class="main-page-wrapper">
            <div class="first-block flex-row">
                <div>
                    <div>Иконописная мастерская</div>
                    <div>Издательство</div>
                    <div>Швейная мастерская</div>
                </div>
                <div>
                    <div>Пожертвовать</div>
                    <div>Устав трапезы на Великий пост</div>
                    <div>Заказать требы</div>
                </div>
            </div>
            <div class="holidays">
                    Будни и праздники обители
            </div>
            <div class="conversations flex-row">
                <div>Cлово духовника</div>
                <div>Беседы о духовной жизни</div>
                <div>Беседы матушки</div>

            </div>
            <div class="more flex-row">
                <div class="more-news more-block">Новости и события</div>
                <div class="more-calendar more-block">Расписание</div>
            </div>
            <div class="more-2 flex-row ">
                <div class="more-2-block">Просфорная</div>
                <div class="more-2-block">Монастырский хор</div>

            </div>
            <div class="gallery flex-row">
                <div class="gallery-photo">Галерея фото</div>
                <div class="gallery-postcards">Галерея открыток</div>
            </div>
        </div>

    </div>
{% endblock %}