{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Беседы матушки{% endblock %}
{% block header %}<link rel="stylesheet" href={% static 'main/css/normalize.css' %}>
<link rel="stylesheet" href={% static 'main/css/style.css' %}> {% endblock %}

{% block content %}
        <div class="container">
            <h1 class="title">
                Беседы матушки
            </h1>
            <ul class="list">
                <li class="list__item item">
                    <img src="{% static 'img/assets/матушка 29.jpg' %}" alt="" class="item_image">
                    <div class="item__text">
                        <h2 class="item__title">
                            Крест – знамение Любви победившей. Слово игумении Домники
                        </h2>
                        <p class="item__descr">
                            Один богослов говорил: «Крест Господень есть знак не страдания, а знак подвига любви,
                            побеждающей страдание. Дело не в
                            страдании самом по себе. Не всякого страдающего можно назвать несущим крест Христов.
                            Разбойник слева тоже был на кресте
                            и страдал вдвойне — и от боли, и от злобы. Но спасся другой разбойник, в котором, несмотря
                            на страдания, горела любовь к
                            Спасителю. Когда какая-нибудь госпожа изнемогает от суеты, раздражения, зависти и злобы и
                            говорит, что несет тяжелый
                            крест, — она совершенно права. Но это крест не Христов, а разбойничий...» Это одно из лучших
                            объяснений того, что
                            означает Крест. Крест – это знамение подвига любви. И когда Господь говорит нам: «Возьми
                            крест свой», – Он призывает нас
                            прежде всего к любви.
                        </p>
                    </div>
                </li>
                <li class="list__item item">
                    <img src="{% static 'img/assets/матушка 29 1.jpg' %}" alt="" class="item_image">
                    <div class="item__text">
                        <h2 class="item__title">
                            Пусть любовь побеждает все случающееся. Беседа матушки Домники </h2>
                        <p class="item__descr">
                            Болезни происходят не только от физических причин, но также и от того, что человек носит в
                            себе отрицательные мысли и
                            чувства, то есть не примиряется с кем-то или с чем-то в своей жизни. Внешне он, может быть,
                            и ведет себя обычно, но
                            внутри у него живут не уврачеванные обиды и огорчения. Все это подрывает его внутренние
                            жизненные силы. Что же в таком
                            случае делать?
                        </p>
                    </div>
                </li>
                <li class="list__item item">
                    <img src="{% static 'img/assets/матушка 30.jpg' %}" alt="" class="item_image">
                    <div class="item__text">
                        <h2 class="item__title">
                            Самое великое дело человека. Беседа игумении Домники на Рождество Божией Матери
                        </h2>
                        <p class="item__descr">
                            Представим себе правителя, стоящего во главе большой страны. Представим, что он наделён
                            гениальными способностями,
                            милосердием; что он управляет мудро и неутомимо. Великое ли это дело? Да, конечно. Но всё же
                            ещё не самое великое, на
                            что способен человек. Представим теперь, что гениальный учёный изобрёл лекарство от
                            смертельной болезни и весь мир
                            освободил от страха перед нею. Несомненно, и это дело выдающееся. Но и оно не самое великое
                            для человека. Теперь
                            представим себе композитора, который создаёт великолепную музыку. И это дело необычайное. Но
                            всё же человек способен
                            взойти на ещё большую высоту, неизмеримо большую.
                        </p>
                    </div>
                </li>
                <li class="list__item item">
                    <img src="{% static 'img/assets/матушка 30 1.jpg' %}" alt="" class="item_image">
                    <div class="item__text">
                        <h2 class="item__title">
                            «Миром Господу помолимся...» Вторая беседа митрополита Афанасия Лимассольского о литургии
                        </h2>
                        <p class="item__descr">
                            Когда Церковь призывает нас молиться «в мире», она призывает нас молиться «во Христе», в
                            общении со Христом, ибо только
                            во Христе мы обретаем подлинный душевный мир. Христос сказал: «Мир Мой даю вам; не так, как
                            мир дает, Я даю вам».
                            Христос дает мир не так, как мир дает, поскольку мир этого мира зависит от внешних
                            обстоятельств. Если все вокруг меня,
                            в семье, на работе хорошо, если денег у меня достаточно, со здоровьем нет проблем, тогда у
                            меня все в порядке. Это
                            мирской мир. Но болезни и другие несчастья разрушают такой мир, с изменениями обстоятельств
                            его химера быстро исчезает.
                            Как же нам помолиться в подлинном мире, во Христе?
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    {% endblock %}