{% extends 'main/layout.html' %}
{% load static %}

{% block header %}<link rel="stylesheet" href={% static 'main/css/normalize.css' %}>
<link rel="stylesheet" href={% static 'main/css/style.css' %}> {% endblock %}


{% block content %}
<div class="container">
    <h1 class="title">
        Беседы о духовной жизни
    </h1>
    <ul class="list">
        <li class="list__item item">
            <img src="{% static 'img/assets/беседы 29.jpg' %}" alt="" class="item_image">
            <div class="item__text">
                <h2 class="item__title">
                    «Один час будем бодрствовать с Господом». Заповедал ли Господь совершать молитвенное
                    правило?
                </h2>
                <p class="item__descr">
                    «И приходит к ученикам и находит их спящими, и говорит Петру: так ли не могли вы один час
                    бодрствовать со Мною? Это
                    поучение относилось не только к ученикам. Раз оно было записано и передано нам, то и мы
                    должны извлекать из него
                    полезный урок. Давайте положим себе за правило — один час бодрствовать с Господом». Доклад
                    духовника монастыря
                    схиархимандрита Авраама на конференции монашествующих Екатеринбургской митрополии «Древние
                    монашеские традиции в
                    условиях современности».
                </p>
            </div>
        </li>
        <li class="list__item item">
            <img src="{% static 'img/assets/беседы 29 1.jpg' %}" alt="" class="item_image">
            <div class="item__text">
                <h2 class="item__title">
                    Непобедимое оружие. Беседа схиархимандрита Авраама
                </h2>
                <p class="item__descr">
                    Тема сегодняшней беседы — степени Иисусовой молитвы. Непрестанная покаянная молитва —
                    сильнейшее средство в борьбе с
                    грехом, но оттого, что мы не различаем степеней молитвенного развития, у нас бывают ошибки,
                    приводящие иногда из-за
                    нашей неопытности к серьезным последствиям. Молитва, как известно, делится на три степени:
                    устную, умную и сердечную.
                    Это самое первое, так сказать, элементарное деление. Святитель Игнатий (Брянчанинов),
                    многоопытный подвижник,
                    справедливо разделяет устную молитву еще на два вида: на собственно устную — произносимую
                    устами беззвучно и гласную —
                    произносимую в голос.
                </p>
            </div>
        </li>
        <li class="list__item item">
            <img src="{% static 'img/assets/беседы 30.jpg' %}" alt="" class="item_image">
            <div class="item__text">
                <h2 class="item__title">
                    «Аз есмь Путь, Истина и Жизнь» (Ин. 14, 6): о чтении Евангелия как христианской и монашеской
                    добродетели. Доклад
                    схиархимандрита Авраама
                </h2>
                <p class="item__descr">
                    Мне кажется, что Евангелие — это книга, которая постоянно меняется. Сегодня ты читал одно, а
                    завтра это же самое
                    становится другим. Там все живет своей жизнью. И можно объяснить, почему так происходит.
                    Потому что меняемся мы сами.
                    Если Евангелие производит на нас глубокое впечатление, то мы каждый раз воспринимаем его
                    по-новому. Оно, так сказать,
                    открывается нам разными смыслами. Божественное Откровение — это неисчерпаемая глубина. Не
                    только то, что сказал
                    Спаситель, но и все Евангелие — это Откровение Святого Духа, данное апостолам-евангелистам
                    Матфею, Марку, Луке и Иоанну.
                    Смысл его столь многообразен, что практически бесконечен.
                </p>
            </div>
        </li>
        <li class="list__item item">
            <img src="{% static 'img/assets/беседы 30 1.jpg' %}" alt="" class="item_image">
            <div class="item__text">
                <h2 class="item__title">
                    «Будешь готов к любым испытаниям, если…» Советы схиархимандрита Авраама
                </h2>
                <p class="item__descr">
                    Что делать, если вместо живой веры чувствуешь в себе сухость, пустоту, безразличие? Как
                    быть, если вновь начнутся
                    гонения на верующих? Какое молитвенное правило ― самое лучшее? Все эти и многие другие
                    вопросы встают перед человеком,
                    который искренне ищет спасения. Духовник нашей обители, схиархимандрит Авраам, в своих
                    беседах дает очень емкие ответы
                    на подобные вопросы. Вот лишь некоторые из них. Надеемся, что слово отца Авраама, исходящее
                    из его многолетнего опыта,
                    будет полезно всем, кто стремится вести духовную жизнь.
                </p>
            </div>
        </li>
    </ul>
</div>
{% endblock %}
