{% extends 'main/layout.html' %}
{% load static %}

    <title>{% block title %}Слово духовника{% endblock %}</title>
{% block header %}<link rel="stylesheet" href={% static 'main/css/normalize.css' %}>
<link rel="stylesheet" href={% static 'main/css/style.css' %}> {% endblock %}

{% block content %}
        <div class="container">
            <h1 class="title">
                Слово духовника
            </h1>
            <p class="descr">
                Наша обитель изначально созидалась под водительством схиархимандрита Авраама (Рейдмана), который в
                настоящее
                время
                является духовником двух обителей – нашего монастыря и Свято-Косьминской мужской пустыни (с. Костылева
                Верхотурского
                уезда). В 1970-90-х годах отец Авраам был духовным чадом игумена Андрея (Машкова), делателя умной
                молитвы,
                одного из
                последних насельников прославленной Глинской пустыни. В своих поучениях и беседах отец Авраам глубоко и
                подробно говорит
                о покаянии, о молитве, об истинном и ложном смирении, о правильном отношении к чтению и посту – сложно
                найти
                такой
                аспект духовной жизни, который не был бы освещен в его наставлениях.
            </p>
            <ul class="list">
                <ol class="list__item item">
                    <img src="{% static 'img/assets/духовник 29.jpg' %}" alt="" class="item__image">
                    <div class="item__text">
                        <h3 class="item__title">
                            Слово с амвона
                        </h3>
                        <p class="item__descr">
                            Здесь вы найдете проповеди, произнесенные отцом Авраамом в воскресные и праздничные дни.
                            Объясняя события Евангелия,
                            притчи и поучения Христа, отец Авраам обращает внимание на детали, которые обычно не
                            замечаются,
                            удачно сравнивает
                            чувства современников Спасителя с теми переживаниями, которые есть и у нас, живо и ясно
                            показывает, как применять
                            Евангельские заповеди в обычной, повседневной жизни.
                        </p>
                    </div>
                </ol>
                <ol class="list__item item">
                    <img src="{% static 'img/assets/духовник 30.jpg' %}" alt="" class="item__image">
                    <div class="item__text">
                        <h3 class="item__title">
                            Беседы о духовной жизни
                        </h3>
                        <p class="item__descr">
                            Какими должны быть беседы на духовную тему? Должны быть правильны с точки зрения
                            святоотеческого
                            учения? Безусловно.
                            Наполнены интересными примерами, неожиданными сравнениями, любопытными аналогиями?
                            Желательно.
                            Но все это доставляет
                            наслаждение только уму. Самое главное — поучения должны быть жизненны, должны утолять не
                            столько
                            умственный, сколько
                            душевный голод. Беседы отца Авраама примечательны именно своей практической направленностью.
                            После каждой беседы
                            схиархимандрит Авраам отвечает на многочисленные и самые разнообразные вопросы духовных чад.
                        </p>
                    </div>
                </ol>
                <ol class="list__item item">
                    <img src="{% static 'img/assets/духовник 29 1.jpg' %}" alt="" class="item__image">
                    <div class="item__text">
                        <h3 class="item__title">
                            Стихотворения
                        </h3>
                        <p class="item__descr">
                            Для современного человека привычны стихотворения о любви, о природе, о родине. Но стихи о
                            вере,
                            Евангелии, молитве – это
                            может показаться необычным. В этих стихах автор облекает сокровенную жизнь христианина в
                            форму
                            поэтических размышлений.
                            И мы надеемся, что стихотворения схиархимандрита Авраама, написанные из духовного опыта,
                            поддержат единодушных братьев и
                            сестер в их борьбе за свое спасение.
                        </p>
                    </div>
                </ol>
                <ol class="list__item item">
                    <img src="{% static 'img/assets/духовник 30 1.jpg' %}" alt="" class="item__image">
                    <div class="item__text">
                        <h3 class="item__title">
                            Слова после постригов
                        </h3>
                        <p class="item__descr">
                            Главное событие в жизни каждого инока – это, конечно, постриг. Желая укрепить
                            новопостриженного
                            монаха или монахиню в
                            решимости следовать за Христом, отец Авраам после пострига обычно произносит краткое слово.
                            «Мария Магдалина имела
                            преданность Господу Иисусу Христу, искала Его даже тогда, когда и гроб Господень оказался
                            пустым. Бывает, что мы как бы
                            ощущаем в душе совершенную пустоту. Но если мы к этому гробу — к нашему пустому сердцу,
                            будем
                            приникать, плакать, и
                            молиться, и искать Господа, то вдруг неожиданно для нас благодать Божия посетит нас и мы
                            ощутим
                            в своем сердце — живого
                            Бога. Живого — потому что Он, словно умерший из-за наших грехов, воскреснет ради нашей
                            преданности Ему».
                        </p>
                    </div>
                </ol>
                <ol class="list__item item">
                    <img src="{% static 'img/assets/духовник 31.jpg' %}" alt="" class="item__image">
                    <div class="item__text">
                        <h3 class="item__title">
                            Теологические сонеты
                        </h3>
                        <p class="item__descr">
                            Слово «сонет» может ошибочно настроить на некий романтический лад: в уме всплывут имена
                            Шекспира, Гете, Петрарки… Надо
                            сразу же расставить все точки над i – сонеты теологические, а потому любителям легкой лирики
                            они
                            покажутся, пожалуй,
                            сложными и скучноватыми. Зато люди, придающие значение более содержанию, нежели пустой
                            витиеватости слога, получат от их
                            чтения примерно такое же удовольствие, как от разговора с умным собеседником. Можно сказать,
                            что
                            каждый сонет,
                            написанный схиархимандритом Авраамом, представляет собой законченную проповедь, только очень
                            сжатую, лаконичную и
                            необыкновенно изящную.
                        </p>
                    </div>
                </ol>
            </ul>
        </div>
{% endblock %}