{% extends 'main/layout.html' %}
{% load static %}

      {% block title %}Издательство{% endblock %}

    {% block content %}
        <h1>Издательство</h1>
        <div class="order">
        <!-- TODO: добавить форму заказа книг -->
            <a href="#">Заказать книгу</a>
        </div>
        <div class="main-text">
            <p>Одно из главных сокровищ монастыря – живое слово духовника. Более двадцати лет назад схиархимандрит Авраам, основав два монастыря, мужской и женский, начал проводить еженедельные воскресные беседы на духовные темы. На этих беседах звучали ответы на самые главные вопросы: что значит жить по Евангелию? как научиться молитве? что такое покаяние? как приобрести любовь? Все ответы были очень практическими, жизненными. Беседы батюшки, а также и проповеди после литургии записывались на кассеты, и в какой-то момент родилась идея расшифровать их и опубликовать. Так появилось небольшое монастырское издательство.

                Кроме бесед и проповедей духовника, монастырь издает жития святых и жизнеописания современных подвижников, с которыми так или иначе связана наша обитель.

                Монастырь также издает книги схиархимандрита Эмилиана (Вафидиса) – одного из самых замечательных подвижников современности, основателя нескольких монастырей, духовного светильника нашего времени.

                Поскольку монастырь не обладает собственной типографией, в выпуске книг обители помогают другие крупные издательства.
            </p>
        </div>
        <ul class="book-list">
            <li class="book-list-item">
                <h3 class="book-title">Верный Богу и Царю: Житие святого страстотерпца Евгения Боткина (1865–1918)</h3>
                <img src='{% static 'img/assets/image 51.png' %}'  width="230" height="370" alt="Верный Богу и Царю">
                <p class="book-text">2-е издание. — Екатеринбург: Изд-во Александро-Невского Ново-Тихвинского женского монастыря, 2022. — 496 с.: цв. ил. Тираж 1100 экз.Пожертвование 1200 р.

                    «Он пришел в мир ради людей», — писали о докторе Боткине.Евгений Сергеевич Боткин, лейб­медик последнего русского императора Николая II, никогда не жил ради себя; в больнице, на фронте, на службе у Царской семьи он все свои силы и любовь отдавал другим людям. И всей своей жизнью он подтвердил ту истину, о которой сам писал в одном из писем: «Если душа человека добра и чиста, она звучит так дивно, так чудно, как никакая самая великолепная музыка»...</p>
            </li>
            <li class="book-list-item">
                <h3 class="book-title">Рождество и Пасха: Две священные истины Церкви</h3>
                <img src='{% static 'img/assets/image 52.png' %}' width="230" height="370" alt="Рождество и Пасха">
                <p class="book-text">Авраам (Рейдман), схиархим. Рождество и Пасха: Две священные истины Церкви. — Екатеринбург: Изд-во Александро-Невского Ново-Тихвинского женского монастыря, 2023. — 224 с.: ил. Тираж 1000 шт.
                    Пожертвование 900 р.

                    В новой книге схиархимандрита Авраама представлено подробное толкование евангельских повествований о двух величайших событиях в истории мира — Рождестве и воскресении Господа Иисуса Христа. Для человеческого ума эти события необъяснимы и непостижимы, однако для тех, кто имеет настоящую, живую веру, они являются столь же реальными, какими были для их непосредственных участников и свидетелей.Древние византийские фрески, иконы, мозаики дополняют и оживляют повествование, делают описываемые события более зримыми.Схиархимандрит Авраам — духовник Екатеринбургского Александро-Невского Ново-Тихвинского женского монастыря, член Союза писателей России.</p>
            </li>
            <li class="book-list-item">
                <h3 class="book-title">Слово о трезвении: Толкование на «Слово о трезвении и молитве» преподобного Исихия Иерусалимского</h3>
                <img src='{% static 'img/assets/image 53.png' %}' width="230" height="370" alt="Слово о трезвении">
                <p class="book-text">Эмилиан (Вафидис), архим. Слово о трезвении: Толкование на «Слово о трезвении и молитве» преподобного Исихия Иерусалимского: пер. с греч.: в 3 ч. — Ч. 2: Главы практические. — Екатеринбург: Изд-во Александро-Невского Ново-Тихвинского женского монастыря, 2023. — 266 с. Тираж 5000 шт. Пожертвование 500 р.

                    Вниманию читателей предлагается толкование архимандрита Эмилиана (Вафидиса), замечательного греческого подвижника и богослова наших дней, на одно из главных аскетических произведений «Добротолюбия» — «Слово о трезвении и молитве» преподобного Исихия Иерусалимского.
                    В своих беседах старец Эмилиан не только дает новую жизнь наследию преподобных отцов и делает их писания понятными и доступными для людей XXІ века, но и подробно и ясно отвечает на актуальные для каждого христианина вопросы: что такое трезвение и умное делание, как научиться молитве, что мешает нам на пути спасения, можем ли мы избавиться от страстей и достигнуть бесстрастия?</p>
            </li>
          </ul>
    {% endblock %}
