{% extends 'main/layout.html' %}
{% load static %}

    {% block title %}Ново-Тихвинский женский монастырь{% endblock %}

{% block content %}
    <main>
        <h1>Подворье в Меркушино</h1>
        <h2>Земля Святого Симеона</h2>
        <a href="#"><img src='{% static 'img/assets/image 40.png' %}' width="270" height="230" alt="Свято-Симеоновское Подворье"></a>
        <a href="#"><img src='{% static 'img/assets/image 41.png' %}' width="270" height="230" alt="Крещение в Меркушино"></a>
        <a href="#"><img src='{% static 'img/assets/image 44.png' %}' width="270" height="230" alt="Чудеса Святого Симеона"></a>
    </main>
{% endblock %}