{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Ново-Тихвинский женский монастырь {% endblock %}
{% block content %}
    <main>
        
        <h1>Просфорня</h1>
        <p>Послушание просфорниц в скиту монастыря несут три сестры. Зайдя в небольшой домик, отведенный под просфорню, как будто сразу попадаешь в иной мир. Тихо, тепло и очень чисто. В светлой комнате у божницы теплится лампада. Слышен негромкий голос – это одна из сестер читает Иисусову молитву. От пекущихся просфор исходит такое благоухание, которое невозможно сравнить ни с чем! Наверное, это оттого, что листы, на которых пекутся просфоры, смазывают натуральным пчелиным воском. При этом сладкий, медовый запах воска смешивается с тонким ароматом только что испеченного хлеба.
          
          Для того чтобы приготовить тесто, просфорницам приходится вставать раньше других, в четыре часа утра, и ставить опару (жидкое тесто на дрожжах). Придя после ранней литургии, сестры становятся на молитву. Молятся ко Господу, Богородице и святым угодникам Божиим Спиридону и Никодиму Печерским просфорникам, испрашивая помощи в своем ответственном послушании. После молитвы с благоговением приступают к выпечке просфор – того святого хлеба, без которого невозможно совершить самого величайшего христианского таинства, святой Евхаристии.</p>
        <img src="{% static 'img/assets/image18.png' %}">
        <img src="{% static 'img/assets/image19.png' %}">
        <p>Тесто для просфор делают из лучшей пшеничной муки, замешанной на чистой воде с добавлением соли, святой воды и закваски из дрожжей. Просфора должна быть круглой и состоять из двух частей во образ двух естеств Господа нашего Иисуса Христа – Божеского и человеческого. На верхней части просфоры изображается крест и начальные буквы имени Христа Спасителя: IC. ХС. и греческого слова: NIКА, что означает: Иисус Христос побеждает. Существуют также печати с изображением иконы Богородицы и святых угодников Божиих, например, преподобных Сергия Радонежского, Серафима Саровского. У нас на просфорах изображается почитаемая в обители Тихвинская икона Божией Матери и наш уральский святой – праведный Симеон Верхотурский, чудотворец.

          По чинопоследованию литургии просфоры освящаются во время совершения проскомидии – первой части литургии.
          Для проскомидии употребляется пять просфор в воспоминание чудесного насыщения Господом пятью хлебами более пяти тысяч человек. Собственно для причащения необходима одна просфора, по слову апостола: «Один хлеб, и мы многие – одно тело; ибо все причащаемся от одного хлеба» (1 Кор. 10, 17). Из этой просфоры священнослужителем вырезается св. Агнец – средняя четвероугольная часть. При этом произносятся слова из пророчества ветхозаветного пророка Исаии: «Яко овча на заколение ведеся и яко агнец непорочен, прямо стригущего Его безгласен, тако не отверзает уст своих; во смирении суд Его взятся; род же Его кто исповесть; яко вземлется от земли живот Его» (Ис. 53, 7-8)</p>
          <img src="{% static 'img/assets/image 17.png' %}">
          <img src="{% static 'img/assets/image 16.png' %}">
    </main>
{% endblock %}


