{% extends 'main/layout.html' %}
{% load static %}


{% block title %}Ново-Тихвинский женский монастырь{% endblock %}
{% block content %}
  <body>
    </header>
    <main>  
        <h1>Ново-Тихвинский женский монастырь</h1>
        <ul class="menu-list">
            <li class="menu-list-item">
              <a href="#">О монастыре</a>
            </li>
            <li class="menu-list-item">
              <a href="#">Будни и праздники обители</a>
            </li>
            <li class="menu-list-item">
              <a href="#">Как поступить в монастырь</a>
            </li>
            <li class="menu-list-item">
              <a href="#">Трудникам и паломникам</a>
            </li>
            <li class="menu-list-item">
                <a href="#">Контакты и реквизиты</a>
            </li>
          </ul>
    </main>
  </body>
{% endblock %}