{% extends 'main/layout.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Устав трапезы на Великий пост</title>
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
    <main>
        <section class="content">
            <div class="container content__conatainer">
                <div class="content__header">
                    <h1 class="content__header__title">
                        Устав трапезы на Великий пост
                    </h1>
                    <p class="content__header__date">
                        27.02 – 15.04.2023
                    </p>
                </div>
                <ul class="content__list list">
                    <li class="list__item">
                        В первую и Страстную седмицы, кроме субботы и воскресенья, употребляется пища без масла.
                    </li>
                    <li class="list__item">
                        В субботу и воскресенье, а также в праздник сорока Севастийских мучеников (21.03) разрешается
                        вкушение морепродуктов.
                    </li>
                    <li class="list__item">
                        В Лазареву субботу (8.04) разрешается вкушение рыбной икры.
                    </li>
                    <li class="list__item">
                        В праздники Благовещения Пресвятой Богородицы (7.04) и Входа Господня в Иерусалим (9.04) разрешается вкушение рыбы.
                    </li>
                    <li class="list__item">
                        В Великий Четверг (13.04) разрешается пища с маслом.
                    </li>
                    <li class="list__item bold">
                        О мере воздержания каждый христианин должен обязательно советоваться со своим духовником.
                    </li>
                </ul>
            </div>
        </section>
    </main>
</body>

</html>