{% extends 'main/layout.html' %}
{% load static %}

    {% block title %}Ново-Тихвинский женский монастырь {% endblock %}

{% block content %}
    <main>
        <h1>Монастырский хор</h1>
        <p>На богослужениях в монастыре песнопения исполняются древними знаменным и византийским распевом. Песнопения в исполнении сестер. Поскольку к нам нередко обращаются с просьбой прислать песнопения, переложенные на ноты, в этом разделе мы помещаем песнопения в PDF формате.</p>
        <section class="main-text">
            <h3>Песнопения знаменного распева</h3>
            <p>Песнопения знаменного распева собраны из разных источников и рукописей и переведены с крюковой нотации на ноты сестрами монастыря. Поскольку в нашей обители песнопения исполняются с исоном, то в нотах партия исона отмечена латинскими буквенными обозначениями.</p>
            <h3>Знаменный распев</h3>
            <p>Схемы восьми гласов знаменного распева 
                "Слава, и ныне" восьми гласов знаменного распева
                </p>
            <h3>Аудиопримеры пения восьми гласов знаменного распева</h3>
            <p>глас 1
                глас 2
                глас 3
                глас 4
                глас 5
                глас 6
                глас 7
                глас 8
                </p>
            <h3>Песнопения Всенощного бдения Вечерня</h3>
            <p>Приидите поклонимся. Кирилло-Белоезерский монастырь
                Приидите поклонимся Псалом 103. Валаамский монастырь Псалом 103. Супрасльский ирмологион
                Ектения великая. 1 вариант
                Ектения великая. 2 вариант
                Ектения великая. 3 вариант
                Блажен муж. Валаамский монастырь
                Блажен муж. Кирилло-Белоезерский монастырь Ектения малая. 1 вариант
                Ектения малая. 2 Вариант Ектения малая. 3 вариант
                
                Псалом Господи воззвах и запевы. Кирилло-Белоезерский монастырь
                глас 1
                глас 2
                глас 3
                глас 4
                глас 5
                глас б
                глас 7
                глас 8
                Свете Тихий
                Свете Тихий, глас 2
                Свете Тихий, глас 3
                Свете Тихий, глас 6
                Прокимны дневные
                Прокимны великие
                Ектения сугубая. 1 вариант
                Ектения сугубая. 2 вариант
                Ектения просительная. 1 вариант
                Ектения просительная. 2
                ариант
                Ектения просительная. З вариант
                Ектения на литии
                Запевы на стиховне воскресные Запевы на стиховне вседневные
                Ныне отпущаеши Богородице Дево
                Ныне отпущаеши
                Богородице Дево Буди имя Господне
                Псалом 33, глас 2
                Отпуст. Кирилло-Белоезерский монастырь Великаго господина. Кирилло-Белоезерский монастырь
                
                <a href="#">Все песнопения вечерни (RAR-архив)</a> 
                <a href="#">Все песнопения вечерни в одном файле</a>
                </p>
            <h3>Утреня</h3>
            <p>Ектении на утрене поются такие же, как и на вечерне.

                Малое славословие (перед шестопсалмием) Бог Господь
                Полиелей (Валаамский монастырь)
                Ангельский собор (Византийский распев)
                Прокимны воскресные
                Прокимны святым
                Всякое дыхание на 8 гласов
                По 50-м псалме
                Воскрес Иисус
                Хвалим благословим
                Честнейшую
                Честнейшую 2 вариант
                Свят Господь
                Всякое дыхание, глас 4
                Запевы на хвалитех, глас 1 Запевы на хвалитех, глас 2
                Запевы на хвалитех, глас 3
                Запевы на хвалитех, глас 4
                Запевы на хвалитех, глас 5
                Запевы на хвалитех, глас 6
                Запевы на хвалитех, глас 7
                Запевы на хвалитех, глас 8
                Великое славословие
                Великое славословие (Византийский распев)
                Отпуст. Кирилло-Белоезерский монастырь
                Великаго господина. Кирилло-Белоезерский монастырь
                Все песнопения утрени (RAR-архив) Все песнопения утрени в одном файле
                Знаменный распев
                Песнопения Божественной литургии
                Ектения великая
                Первый изобразительный антифон Первый вседневный антифон Второй изобразительный антифон
                Ектения малая. 1 вариант
                Второй вседневный антифон
                Единородный Сыне
                Ектения малая. 2 вариант
                Третий изобразительный антифон (Во Царствии Твоем)
                Третий вседневный антифон
                Приидите поклонимся
                Господи, спаси благочестивыя
                Трисвятое, Елицы во Христа крестистеся
                Трисвятое (сокращенный вариант)
                Прокимны воскресные
                Прокимны дневные
                Прокимны святым
                Аллилуия
                Аллилуия, демественный распев
                На чтении Евангелия
                Ектения сугубая
                Ектения оглашенных
                Ектения верных
                Херувимская краснопевая (демественный распев)
                Херувимская песнь (знаменный распев)
                Херувимская песнь (путевой распев)
                Ектения просительная Отца и Сына
                Евхаристический канон
                Достойно есть
                И всех, и вся
                Ектения просительная перед Отче наш
                По Отче наш
                Един Свят
                Причастны
                Благословен грядый
                Тело Христово
                Видехом Свет истинный
                Ектения перед заамвонной молитвой
                Буди имя Господне
                Отпуст. Кирилло-Белоезерский монастырь Великаго господина. Кирилло-Белоезерский монастырь
                <!-- TODO: Ссылки на архивы с песнопениями -->
                <a href="#">Все песнопения литургии (RAR-архив)</a>
                <a href="#">Все песнопения литургии в одном файле</a>
                </p>
            <h3>Знаменный распев</h3>
            <ul class="raspev">
                <li class="raspev-ithem">
                    <h4>1. Песнопения Великого поста</h4>
                    <p>На реках Вавилонских. Супрасльский ирмологион
                        Покаяния отверзи ми двери На спасения стези
                        Помилуй мя Боже
                        </p>
                </li>
                <li class="raspev-ithem">
                    <h4>2. Великий канон прп. Андрея Критского</h4>
                    <p>Ирмосы Великого канона
                        Припевы на Великом каноне
                        Кондак «Душе моя»
                        <a href="#">Песнопения Великого канона (RAR-архив)</a>
                        </p>
                </li>
                <li class="raspev-ithem">
                    <h4>3. Великое повечерие</h4>
                    <p>С нами Бог. Киевский ирмологион
                        День прешед 
                        Господи сил 
                        Тропари по Господи сил
                        Ектения на Великом повечерии
                        Се Жених грядет
                        <a href="#">Песнопения Великого повечерия (RAR-архив)</a>
                        </p>
                </li>
                <li class="raspev-ithem">
                    <h4>3. Великое повечерие</h4>
                    <p>С нами Бог. Киевский ирмологион
                        День прешед 
                        Господи сил 
                        Тропари по Господи сил
                        Ектения на Великом повечерии
                        Се Жених грядет
                        Песнопения Великого повечерия (RAR-архив)
                        </p>
                </li>
                <li class="raspev-ithem">
                    <h4>4. Утреня. Часы. Изобразительны</h4>
                    <p>Ектения великая
                        Ектения просительная
                        Ектения сугубая 
                        Тропари на 1-ом часе первый вариант
                        Тропари на 1-ом часе второй вариант 
                        Вечная память 
                        Достойно есть на Изобразительных
                        Блаженны на Изобразительных
                        <a href="#">Песнопения утрени (RAR-архив)</a>
                        </p>
                </li>
                <li class="raspev-ithem">
                    <h4>5. Литургия Преждеосвященных Даров</h4>
                    <p>Ектения великая. Украинский ирмологион
                        Ектения малая. Украинский ирмологион 
                        Да исправится
                        Ектения сугубая. Украинский ирмологион 
                        Ектения оглашенных. Украинский ирмологион
                        Ныне силы небесныя. Кирилло-Белоезерский монастырь
                        Ектения просительная. Украинский ирмологион 
                        Ектения просительная перед Отче наш
                        Причастный стих
                        Благословлю Господа
                        Хлеб Небесный 
                        Ектения перед заамвонной молитвой. Украинский ирмологион
                        <a href="#">Все песнопения литургии (RAR-архив)</a>                     
                        </p>
                </li>
            </ul>
            <h3>Песнопения Пасхи и Светлой седмицы</h3>
            <p>Стихира «Воскресение Твое, Христе Спасе»</p>
            <h3>Пасхальная утреня</h3>
            <p>Тропарь Пасхи
                Канон Пасхи 
                Богородичны 
                Воскресение Христово видевше 
                Стихиры Пасхи
                Кондак Пасхи. Супрасльский распев
                Запевы на 9 песни
                Пасхальный отпуст на утрене
                Пасхальные Часы
                </p>
            <h3>Песнопения литургии</h3>
            <p>Тропарь Пасхи. Супрасльский распев
                Первый антифон
                Второй антифон
                Прокимен
                Задостойник и краткий ирмос
                Ирмос распетый вариант
                Тропарь Пасхи
                Тропарь Пасхи по благословении Чашей
                Пасхальный отпуст
                </p>
            <p><a href="#">Все пасхальные песнопения (RAR-архив)</a></p>
        </section>
    </main>
{% endblock %}
