{% extends 'main/layout.html' %}
{% load static %}

{% block title %}Ново-Тихвинский женский монастырь{% endblock %}
{% block content %}
  <body>
    <main>
        <h1>Храмы</h1>
        <section class="main-text">
            <div class="hram1">
                <p>
                    На исторической территории монастыря (ул. Зеленая Роща, 1) находится шесть храмов. Они передаются обители постепенно, поскольку на территории монастыря до сих пор находится военный госпиталь. Богослужения совершаются в храме в честь святого Александра Невского. В храме в честь иконы Богородицы «Всех скорбящих Радость» службы совершаются нерегулярно, о посещении храма необходимо договариваться заранее.
                    
                    Храм в честь святого князя Александра Невского – главный храм нашей обители, ее сердце, ее жемчужина. Здесь пребывают монастырские святыни, в том числе и всеми любимая Тихвинская икона Пресвятой Богородицы. Здесь каждый день совершаются богослужения и возносятся молитвы о всех православных христианах.
                    
                    <a href="#">Святыни обители<a>
                    <a href="#">Требы</a></p>
                <a href="#"><img src="{% static 'img/assets/image 35.png' %}"></a>
            </div>
            <div class="hram2">
                <p>
                    Храм в честь иконы Божией Матери «Всех скорбящих Радость» освящен в 2018 году. Это первый возрожденный храм обители, посвященный Пресвятой Богородице.</p>
                    <a href="#"><img src="{% static 'img/assets/image 36.png' %}"></a>
            </div>
            <div class="hram3">
                <p>
                    В часовне Преображения Господня на углу улиц 8 марта и Декабристов совершается Крещение детей до 7 лет. Здесь же можно приобрести всё необходимое для Крещения и Венчания: крестильные рубашки для детей и взрослых, венчальные иконы, в том числе писаные и вышитые, вышитые наборы для Венчания, книги о подготовке к Таинствам. В часовне также можно записаться к православному семейному психологу. По вопросам Крещения звоните: 8-912-69-045-49.
                    
                    Адрес Преображенской часовни: ул. 8 марта, 68 (угол улиц 8 марта – Декабристов).</p>
                    <a href="#"><img src="{% static 'img/assets/image 37.png' %}"></a>
            </div>
            <div class="hram4">
                <p>
                    В Екатеринбурге в районе Елизавет находится монастырское подворье в честь Всемилостивого Спаса и Пресвятой Богородицы. Храм подворья освящен в честь Всемилостивого Спаса.
                    
                    Старинный храм Всемилостивого Спаса был построен на монастырской заимке еще в XIX веке. В наши дни в этом храме пребывают две великие святыни: мощи преподобного Василиска Сибирского и частица праведного Симеона Верхотурского.
                    
                    <a href="#">Святыни подворья</a></p>
                    <a href="#"><img src="{% static 'img/assets/image 38.png' %}"></a>
            </div>
            <div class="hram5">
                <p>
                    Свято-Симеоновское подворье обители находится в Верхотурском районе, в старинном селе Меркушино, где проводил свою жизнь праведный Симеон Верхотурский.
                    
                    Украшение села Меркушино – стройный архитектурный ансамбль, состоящий из Симеоновского и Михаило-Архангельского храмов. Здесь находится цельбоносный источник на месте явления мощей святого Симеона Верхотурского – одна из самых известных святынь Уральской земли. Еще одна святыня подворья – мощи священномученика Константина Меркушинского, пострадавшего за Христа в 1918 году. Сестры на подворье участвуют в богослужениях, заботятся о храмах, с радостью встречают паломников. Если вы хотите совершить паломничество на Свято-Симеоновское подворье, звоните 8-902-87-46-002.
                    <a href="#">Святыни Меркушино</a></p>
                    <a href="#"><img src="{% static 'img/assets/image 39.png' %}"></a>
            </div>
        </section>
    </main>
{% endblock %}