{% extends 'main/layout.html' %}
{% load static %}

    {% block title %}Ново-Тихвинский женский монастырь{% endblock %}

{% block content %}
    <main>  
        <h1>Швейное послушание</h1>
        <div class="photo">
            <img src='{% static 'img/assets/image 54.png' %}' width="370" height="230">
            <img src='{% static 'img/assets/image 55.png' %}' width="130" height="230">
        </div>
        <div class="order">
            <!-- TODO: Форма заказа облачений -->
            <a class="button" href="#">Заказать облачение через форму</a>
            <p class="tel-order">Либо по телефону +7-922-037-9093</p>
        </div>
        <div class="main-text">
            <p class="text">Швейная мастерская появилась в обители одной из первых. Вначале здесь несли послушание всего несколько человек, они занимались в основном изготовлением монашеской одежды и богослужебных облачений. Через несколько лет по благословению духовника в швейной мастерской начало развиваться новое направление – компьютерная вышивка.
                Сейчас сестры изготавливают сложные вышитые архиерейские и иерейские облачения, в том числе митры, а также плащаницы, изделия для храмов, покровцы, предметы для украшения дома. В своей работе вышивальщицы ориентируются на лучшие образцы, созданные церковным искусством за многие века. При разработке орнаментальных композиций сестры используют мотивы церковной вышивки XIII–XIX веков, древнерусские и византийские орнаменты из старинных книг и храмовых росписей, с греческих и Афонских миниатюр.
                
                В мастерской создаются вышитые облачений с иконами. Такие облачения производят на молящихся особенно глубокое впечатление. Сестры стремятся достигнуть того, чтобы вышитое изображение почти не отличалось от писаного. Для этого требуется тщательная проработка всех деталей: штрихов, теней, бликов; используется большая цветовая гамма. Только для вышивки лика могут потребоваться нитки 15-18 цветов. На каждом этапе работы вышивальщицы советуются с сестрами иконописной мастерской.
                
                Хотя в мастерской используется вышивальное оборудование с программным обеспечением, работа над каждым изделием требует не меньшей тщательности и искусности, чем труд вышивальщиц прошлых веков, ведь и самая современная техника – только исполнитель той программы, которую создают сестры. Разработка такой программы с учетом всех элементов будущего вышитого изображения: оттенков, тонов и полутонов, типа и длины стежков, различных видов вышивки, – может занимать несколько месяцев.
                
                Сестры стараются, чтобы вещи, которые выходят из их рук, могли стать своеобразной проповедью Православия, его величия и неземной красоты.
            </p>
        </div>
        <div class="list">
            <!-- TODO: страницы каталогов -->
            <h3>Каталоги вышитых изделий</h3>
            <ul class="catalog-list">
                <li class="catalog-list-item">
                    <a href="#">Каталог облачений</a>
                </li>
                <li class="catalog-list-item">
                    <a href="#">Каталог архиерейских облачений</a>
                </li>
                <li class="catalog-list-item">
                    <a href="#">Каталог иерейских облачений</a>
                </li>
                <li class="catalog-list-item">
                    <a href="#">Каталог изделий для храмов</a>
                </li>
              </ul>
        </div>
    </main>
{% endblock %}