*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    vertical-align: top;
}

html,body{
    width: 100vw;
    min-height: 100vh; /* на айфонах будет баг*/
    background: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-header{
    width: 100%;
}
.main-header-img{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #cdd290;
}
.main-header-nav{
    height: 57px;
    background-color: #D8C48F;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.main-header-nav > ul{
    display: inline;
    padding: 0 !important;
    margin: 0 !important;
}

main{
    flex-grow: 1;
}

.main-header-nav > ul > li{
    display: inline-block;
}
.main-header-nav > ul > li:not(:last-child)::after{
    content: "|";
}


.main-header-nav > ul > li > a{
    text-decoration: none;
    color: black;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.035em;
}
.main-footer{
    overflow: hidden;
    background-color: #D8C48F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer-wrapper{
    overflow: hidden;
    display: flex;
    max-width: 1000px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-wrapper > .footer-block{
    padding-top: 10px;
}

.footer-wrapper > .footer-block:not(:first-child){
    padding-left: 10px;
    
}
.footer-wrapper > .footer-block:first-child{
    display: flex;
    flex-direction: row;
    
}
.footer-block > .footer-number {
    display: flex;
    flex-direction: column;
    width: 210px;
}
.footer-block > .footer-address {
width: 210px;
}
.gallery {
    margin-top: 15px;
    width: 100%;
    height: 250px;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;

}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-row > div{
    padding: 0 10px 0;
}
.gallery > .gallery-photo{
    width: 50%;
    background-color: gray;
}

.gallery > .gallery-postcards{
    width: 50%;
    background-color: gray;
}
.main-page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-page-wrapper{
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.holidays{
    margin-top: 15px;
    width: 100%;
    height: 250px;
    background-color: gray;
}
.more-2{
    margin-top: 15px;
    width: 100%;
    height: 100px;
}
.more-2-block{
    border:  2px solid #A2B0EB;
    width: 100%;
    background-color: aliceblue;
}
.a-news{
    color: #df074b;
    text-decoration: none;
    font-family: Calibri;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}
.more{
    width: 100%;
    height: 250px;
    gap: 10px;
    margin-top: 15px;

}
.more > .more-events{
    width: 100%;
    padding: 12px;
}
.more > .more-news{
    width: 40%;
    padding: 8px;
}

.more > .more-calendar{
    width: 60%;
}

.more > .more-block{
    background-color: bisque;
    border: 1px solid black;
}

.event{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Два столбца равной ширины */
    grid-template-rows: repeat(2, 1fr); /* Две строки автоматической высоты */
    grid-gap: 10px; /* Промежуток между элементами */
    background-color:bisque;
    border: 1px solid black;
}
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Два столбца равной ширины */
    grid-template-rows: repeat(2, 48%); /* Две строки автоматической высоты */
    grid-gap: 10px; /* Промежуток между элементами */
    background-size: 30%;
    background-repeat: no-repeat;
    background-position-x: 15%;
    background-position-y: 7%;
    background-color:bisque;
    border: 1px solid black;
}

.item {
  background-color: #f0f0f0; /* Цвет фона элемента */
  padding: 10px; /* Внутренний отступ элемента */
}

.item-image {
  width: 100%; /* Ширина картинки занимает всю доступную ширину */
  height: 200px; /* Фиксированная высота картинки */
  overflow: hidden; /* Обрезаем картинку, если она превышает высоту */
}

.item-image img {
  width: 100%; /* Масштабируем картинку по ширине контейнера */
  height: 100%; /* Масштабируем картинку по высоте контейнера */
  object-fit: cover; /* Заполняем контейнер картинкой, сохраняя пропорции */
}

.item-title {
  font-size: 18px; /* Размер заголовка */
  margin-top: 10px; /* Внешний отступ сверху */
}

.item-text {
  font-size: 14px; /* Размер текста */
  margin-top: 5px; /* Внешний отступ сверху */
}
